.content > div:first-child {
  margin-top: 90px;
  padding-right: 65px;
}

.content .social-icon {
  font-size: 1.4em;
}

.content .modalities-title {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 10px;
}

.content .text > .paragraph {
  line-height: 1.3em;
}

.content .text > .paragraph > p {
  margin: 15px 0;
}

.content .text > .paragraph > p:first-child {
  margin-top: 0;
}
