<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start start"
  (window:resize)="onResizedPoleChoreographic()"
>
  <div
    fxFlexOrder="1"
    fxFlexOffset="300px"
    fxFlex
    fxFlexOffset.xs="0"
    fxFlexOffset.sm="0"
    fxLayout="column"
    fxLayoutAlign="start start"
    [fxLayoutAlign.xs]="contentFxLayoutAlignXS"
    [fxLayoutAlign.sm]="contentFxLayoutAlignSM"
  >
    <div
      fxFlexOrder="1"
      class="options"
      fxLayout="row"
      [fxLayoutAlign.xs]="optionsFxLayoutAlignXS"
      fxLayoutAlign.sm="end start"
    >
      <div
        fxFlexOrder="1"
        class="opt-item"
        id="opt-voltar"
        (click)="scripts.redirectAnimatePageOut('modalities')"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-long-arrow-alt-left"></i> Back
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-long-arrow-alt-left"></i> Voltar
        </div>
      </div>
      <div
        fxFlexOrder="2"
        id="opt-photos"
        class="opt-item navona-go"
        data-navona-target="gallery"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-images"></i> Photos
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-images"></i> Fotos
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.1" .options -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="2" class="text">
      The Choreographic Pole is an exclusive pole dance style that works
      strength, mobility, fluidity, body awareness and musicality.
    </div>
    <!-- end fxFlexOrder="1.2" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="2" class="text">
      O Pole Coreográfico é um estilo de pole exclusivo de dança que trabalha
      força, mobilidade, fluidez, consciência corporal e musicalidade.
    </div>
    <!-- end fxFlexOrder="1.2" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="3" class="text">
      We teach curves, transitions and movements through choreography mixing a
      little bit of everything (Pole Classic, Flow, Floorwork, Sensual and
      Exotic).
    </div>
    <!-- end fxFlexOrder="1.3" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="3" class="text">
      Ensinamos giros, transições e movimentos através de coreografias
      misturando um pouco de tudo (Pole Clássico, Flow, Floorwork, Sensual e
      Exotic).
    </div>
    <!-- end fxFlexOrder="1.3" .text pt-br -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="4" class="text">
      Escolhemos as músicas junto com as alunas para uma melhor experiência,
      prezamos por uma aula gostosa e libertadora. Costumamos trabalhar uma
      coreografia por mês. Recomendados o uso de meias e joelheiras, o uso de
      salto apropriado para a prática é opcional.
    </div>
    <!-- end fxFlexOrder="1.4" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="4" class="text">
      We choose the songs together with the students for a better experience, we
      enjoyed a delicious and liberating class. We usually work a choreography
      per month. The use of socks and knee pads, the use of appropriate jump for
      practice is optional.
    </div>
    <!-- end fxFlexOrder="1.4" .text en-us -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="5" class="text">
      We usually work one choreography per month.
    </div>
    <!-- end fxFlexOrder="1.5" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="5" class="text">
      Costumamos trabalhar uma coreografia por mês.
    </div>
    <!-- end fxFlexOrder="1.5" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="6" class="text">
      We recommend the use of socks and knee pads, the use of suitable heels for
      practice is optional.
    </div>
    <!-- end fxFlexOrder="1.6" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="6" class="text">
      Recomendados o uso de meias e joelheiras, o uso de salto apropriado para a
      prática é opcional.
    </div>
    <!-- end fxFlexOrder="1.6" .text pt-br -->
  </div>
</div>

<div id="gallery" class="navona" data-navona-portrait="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985626117_495a8df8f4_c.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49984849133_4a0f2db637_b.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49984846563_ddb6b1085f_k.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985363786_f20a650ba5_h.jpg"
    />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49984839963_a440fa243a.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985621967_124817ebed.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985366216_c54604881f.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49984847758_d58cffd16c.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985624947_b0ca43c456.jpg" />
  </div>
</div>
