@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swa');

::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  /*background: #fcf1ff;*/
  background-image: linear-gradient(
    145deg,
    #fcf1ff 25%,
    #fbeefd 25%,
    #fbeefd 50%,
    #fcf1ff 50%,
    #fcf1ff 75%,
    #fbeefd 75%,
    #fbeefd 100%
  );
  background-size: 69.74px 48.83px;
}

body {
  font-family: 'Comfortaa', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a,
a:active,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.hide {
  display: none;
}

.space-top-10 {
  padding-top: 10px;
}

.space-top-20 {
  padding-top: 20px;
}

.space-top-30 {
  padding-top: 30px;
}

/* Transition's Page Classes */
#content.hide {
  opacity: 0;
  transition: all 300ms;
}

#content.show {
  opacity: 1;
  transition: all 300ms;
}
/* End Transition's Page Classes */
