.subtitle {
  cursor: default;
  margin: 30px 0 10px 0;
  font-size: 1.5em;
  text-decoration: underline;
}

#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 8;
}

#logo.light {
  opacity: 0.8;
}

#logo.portrait > img {
  height: 100px;
}

#logo.landscape > img {
  height: 70px;
}

#icon-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 3em;
  z-index: 9;
}

#icon-menu.portrait {
  font-size: 3em;
}

#icon-menu.landscape {
  font-size: 1.5em;
}

#icon-menu.dark {
  color: rgba(51, 51, 51, 0.6);
}

#icon-menu.light,
#icon-menu.active {
  color: rgba(255, 255, 255, 0.6);
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #440055;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transform-origin: top right;
  transition: 300ms ease-in-out;
  transform: rotate(90deg);
  z-index: 8;
}

#menu.active {
  transition-delay: 150ms;
  transform: rotate(0deg);
}

#menu > #menu-logo {
  text-align: center;
}

#menu.portrait > #menu-logo > img {
  height: 200px;
}

#menu.landscape > #menu-logo > img {
  height: 150px;
}

#menu > div > ul {
  list-style: none;
  text-align: center;
}

#menu.portrait > div > ul > li {
  font-size: 3em;
  padding: 15px 0;
}

#menu.landscape > div > ul > li {
  font-size: 1.3em;
  padding: 10px 0;
}

#menu-shadow-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7f009e;
  display: block;
  transform-origin: top right;
  transition: 300ms ease-in-out;
  transform: rotate(90deg);
  z-index: 8;
}

#menu-shadow-1.active {
  transition-delay: 75ms;
  transform: rotate(0deg);
}

#menu-shadow-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d65bf5;
  display: block;
  transform-origin: top right;
  transition: 300ms ease-in-out;
  transform: rotate(90deg);
  z-index: 8;
}

#menu-shadow-2.active {
  transition-delay: 0ms;
  transform: rotate(0deg);
}

#social {
  position: fixed;
  z-index: 7;
}

#social.portrait {
  top: 20px;
  right: 85px;
}

#social.landscape {
  top: 20px;
  right: 65px;
}

#social.portrait a {
  font-size: 2.65em;
}

#social.landscape a {
  font-size: 1.5em;
}

#social.dark a {
  color: rgba(51, 51, 51, 0.8);
}

#social.light a {
  color: rgba(255, 255, 255, 0.6);
}

#made-by {
  position: fixed;
  width: 100%;
  bottom: -1px;
  left: 0px;
  background: #333;
  text-align: center;
  z-index: 9;
}

#made-by a {
  color: rgba(255, 255, 255, 0.6);
}

#made-by > div > a > img {
  opacity: 0.6;
  padding-top: 5px;
}

#made-by.portrait {
  height: 50px;
  font-size: 1.2em;
}

#made-by.portrait > div > a > img {
  height: 30px;
}

#made-by.landscape {
  height: 30px;
  font-size: 0.9em;
}

#made-by.landscape > div > a > img {
  height: 25px;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
