.subtitle {
  cursor: default;
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-decoration: underline;
}

#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 8;
}

#logo.light {
  opacity: 0.8;
}

#logo.portrait > img {
  height: 100px;
}

#logo.landscape > img {
  height: 70px;
}

#icon-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 3em;
  z-index: 9;
}

#icon-menu.portrait {
  font-size: 3em;
}

#icon-menu.landscape {
  font-size: 1.5em;
}

#icon-menu.dark {
  color: rgba(51, 51, 51, 0.6);
}

#icon-menu.light,
#icon-menu.active {
  color: rgba(255, 255, 255, 0.6);
}

#language-choose {
  position: fixed;
  top: 23px;
  left: 20px;
  font-size: 2em;
  z-index: 9;
}

#language-choose > div > img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 300ms;
}

#page-title.portrait {
  opacity: 0;
  position: fixed;
  top: 30px;
  left: 100px;
  font-size: 1.7em;
  color: #440055;
  z-index: 1;
  transition: all 300ms;
}

#page-title.landscape {
  opacity: 0;
  position: fixed;
  top: 26px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #440055;
  z-index: 1;
  transition: all 300ms;
}

#page-title.portrait.show,
#page-title.landscape.show {
  opacity: 1;
  transition: all 300ms;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #440055;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transform-origin: top right;
  transition: 300ms ease-in-out;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  z-index: 8;
}

#menu.active {
  transition-delay: 150ms;
  transform: rotate(0deg);
}

#menu.portrait {
  flex-direction: column;
  justify-content: center;
}

#menu.landscape {
  flex-direction: row;
  justify-content: space-around;
}

#menu.portrait > #menu-logo > img {
  height: 200px;
}

#menu.landscape > #menu-logo > img {
  height: 150px;
}

#menu > div > ul {
  list-style: none;
  text-align: center;
}

#menu.portrait > div > ul > li {
  font-size: 3em;
  padding: 15px 0;
}

#menu.landscape > div > ul > li {
  font-size: 1.3em;
  padding: 10px 0;
}

#menu-shadow-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7f009e;
  display: block;
  transform-origin: top right;
  transition: 300ms ease-in-out;
  transform: rotate(90deg);
  z-index: 8;
}

#menu-shadow-1.active {
  transition-delay: 75ms;
  transform: rotate(0deg);
}

#menu-shadow-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d65bf5;
  display: block;
  transform-origin: top right;
  transition: 300ms ease-in-out;
  transform: rotate(90deg);
  z-index: 8;
}

#menu-shadow-2.active {
  transition-delay: 0ms;
  transform: rotate(0deg);
}

#social {
  position: fixed;
  z-index: 7;
}

#social.portrait {
  top: 23px;
  right: 85px;
}

#social.landscape {
  top: 20px;
  right: 65px;
}

#social.portrait > div,
#social.landscape > div {
  margin: 0 7px;
  float: left;
}

#social.portrait > div:last-child,
#social.landscape > div:last-child {
  margin-right: 0;
}

#social.portrait a {
  font-size: 2.65em;
}

#social.landscape a {
  font-size: 1.5em;
}

#social.dark a {
  color: rgba(51, 51, 51, 0.8);
}

#social.light a {
  color: rgba(255, 255, 255, 0.6);
}

#made-by {
  position: fixed;
  width: 100%;
  bottom: -1px;
  left: 0px;
  background: #333;
  text-align: center;
  font-size: 0.9em;
  z-index: 9;
}

#made-by > div {
  position: absolute;
  top: 0;
  right: 10px;
}

#made-by > div > div {
  float: left;
}

#made-by a {
  color: rgba(255, 255, 255, 0.6);
}

#made-by img {
  opacity: 0.6;
  padding-top: 5px;
}

#made-by.portrait {
  height: 50px;
  font-size: 1.3em;
}

#made-by.portrait > div > div:first-child {
  padding-top: 15px;
}

#made-by.portrait img {
  height: 40px;
}

#made-by.landscape {
  height: 30px;
  font-size: 0.9em;
}

#made-by.landscape > div > div:first-child {
  padding-top: 10px;
}

#made-by.landscape img {
  height: 25px;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MODALITY CARD */
.modality-card {
  position: relative;
  width: 160px;
  height: 200px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.modality-card > .modality-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 44px;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.1em;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.modality-card > .modality-card-title.double {
  line-height: 21px;
}

.modality-card#pilates {
  background: url('../img/modalities/card/pilates.png');
}

.modality-card#pole-dance {
  background: url('../img/modalities/card/pole-dance.png');
}

.modality-card#pole-choreographic {
  background: url('../img/modalities/card/pole-choreographic.png');
}

.modality-card#stiletto {
  background: url('../img/modalities/card/stiletto.png');
}

.modality-card#power-woman {
  background: url('../img/modalities/card/power-woman.png');
}

.modality-card#circus {
  background: url('../img/modalities/card/circus.png');
}

.modality-card#functional-training {
  background: url('../img/modalities/card/functional-training.png');
}
/* MODALITY CARD */

/* TEAM CARD */
.team-card {
  position: relative;
  height: 250px;
  width: 170px;
  margin: 50px 10px 0 10px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-card > .team-card-photo {
  position: relative;
  width: 150px;
  height: 150px;
  top: -40px;
  border-radius: 4px;
  box-shadow: 0px -10px 10px -8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.team-card > .team-card-photo > img {
  width: 100%;
  border-radius: 4px;
}

.team-card > .team-card-title {
  position: relative;
  top: -30px;
  background: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  z-index: 1;
}

.team-card > .team-card-content {
  position: relative;
  text-align: center;
  height: 125px;
  top: -40px;
}

.team-card > .team-card-content > .team-card-content-social {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-card > .team-card-content > .team-card-content-social > div {
  font-size: 1.2em;
  margin: 0 5px;
}

.team-card > .team-card-content > .team-card-content-text {
  margin-top: 15px;
}
/* END TEAM CARD */

/* PERSONAL CARD */
.personal-card {
  position: relative;
  transform: rotate(-6deg);
  width: 170px;
  height: 170px;
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.personal-card > img {
  width: 150px;
  height: 150px;
}
/* END PERSONAL CARD */
