<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start start"
  (window:resize)="onResizedPowerWoman()"
>
  <div
    fxFlexOrder="1"
    fxFlexOffset="300px"
    fxFlex
    fxFlexOffset.xs="0"
    fxFlexOffset.sm="0"
    fxLayout="column"
    fxLayoutAlign="start start"
    [fxLayoutAlign.xs]="contentFxLayoutAlignXS"
    [fxLayoutAlign.sm]="contentFxLayoutAlignSM"
  >
    <div
      fxFlexOrder="1"
      class="options"
      fxLayout="row"
      [fxLayoutAlign.xs]="optionsFxLayoutAlignXS"
      fxLayoutAlign.sm="end start"
    >
      <div
        fxFlexOrder="1"
        class="opt-item"
        id="opt-voltar"
        (click)="scripts.redirectAnimatePageOut('modalities')"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-long-arrow-alt-left"></i> Back
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-long-arrow-alt-left"></i> Voltar
        </div>
      </div>
      <div
        fxFlexOrder="2"
        id="opt-photos"
        class="opt-item navona-go"
        data-navona-target="gallery"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-images"></i> Photos
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-images"></i> Fotos
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.1" .options -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="2" class="text">
      Power Woman invests in the discovery of female movements, empowerment of
      your own body combined with techniques of various dances and pole dance.
    </div>
    <!-- end fxFlexOrder="1.2" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="2" class="text">
      O Power Woman investe na descoberta dos movimentos femininos,
      empoderamento do seu próprio corpo aliados a técnicas de diversas danças e
      o pole dance.
    </div>
    <!-- end fxFlexOrder="1.2" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="3" class="text">
      No experience with any activity is necessary, you learn everything during
      the classes.
    </div>
    <!-- end fxFlexOrder="1.3" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="3" class="text">
      Nenhuma experiência com qualquer atividade é necessária, você aprende tudo
      durante as aulas.
    </div>
    <!-- end fxFlexOrder="1.3" .text pt-br -->
  </div>
</div>

<div id="gallery" class="navona" data-navona-portrait="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985065688_172b1a26ca_b.jpg"
    />
  </div>
</div>
