.content {
  background: #fcf1ff;
  background-image: url('../../../assets/img/studio/bg-studio-desktop.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

.content > #text {
  line-height: 1.8em;
}
