::-webkit-scrollbar {
  width: 8px;
  border-left: 0px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #590072;
}

.content {
  background: #22002b;
  color: #f7f7f7;
  height: 100%;
}

.content.portrait > #text {
  margin-top: 100px;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.2em;
  overflow: auto;
}

.content.portrait > #text {
  padding: 10px;
  height: calc(100% - 190px);
}

.content.landscape > #text {
  padding: 0 30px;
  height: calc(100% - 90px);
}
