<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutAlign.xs="start start"
  fxLayoutAlign.sm="start center"
  (window:resize)="onResizedTeam()"
>
  <div
    fxFlexOrder="1"
    fxFlexOffset="300px"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxFlex.xs="100%"
    fxFlexOffset.xs="0"
    fxLayoutAlign.xs="center center"
    fxLayoutGap.xs="0"
    fxFlexOffset.sm="0"
    fxFlex.sm
    [fxLayoutGap.sm]="fxLayoutGapSM"
  >
    <div fxFlexOrder="1" class="card">
      <div class="card-photo">
        <img
          src="https://live.staticflickr.com/65535/49985709066_fd0236a783_q.jpg"
          alt=""
        />
      </div>
      <div class="card-title">
        <div>Marcia</div>
        <div>Martins</div>
      </div>
      <div class="card-content">
        <div class="card-content-social">
          <div>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-facebook"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="card-content-text">
          <a href="">Saiba mais</a>
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.1" .card -->
    <div fxFlexOrder="2" class="card">
      <div class="card-photo">
        <img
          src="https://live.staticflickr.com/65535/49985681393_d6b6a75f6f_q.jpg"
          alt=""
        />
      </div>
      <div class="card-title">
        <div>Patrícia</div>
        <div>Pérez</div>
      </div>
      <div class="card-content">
        <div class="card-content-social">
          <div>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-facebook"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="card-content-text">
          <a href="">Saiba mais</a>
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.2" .card -->

    <div fxFlexOrder="2" class="card">
      <div class="card-photo">
        <img
          src="https://live.staticflickr.com/65535/49985680898_4fdc194a4f_q.jpg"
          alt=""
        />
      </div>
      <div class="card-title">
        <div>Lucas</div>
        <div>Loreto</div>
      </div>
      <div class="card-content">
        <div class="card-content-social">
          <div>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-facebook"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="card-content-text">
          <a href="">Saiba mais</a>
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.3" .card -->

    <div fxFlexOrder="4" class="card">
      <div class="card-photo">
        <img
          src="https://live.staticflickr.com/65535/49986106592_44092151a5_q.jpg"
          alt=""
        />
      </div>
      <div class="card-title">
        <div>Sérgio</div>
        <div>Biller</div>
      </div>
      <div class="card-content">
        <div class="card-content-social">
          <div>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-facebook"></i></a>
          </div>
          <div>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="card-content-text">
          <a href="">Saiba mais</a>
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.4" .card -->
  </div>
  <!-- end fxFlexOrder="1" -->
</div>
