<div
  id="logo"
  [class]="scripts.logoTheme"
  (window:resize)="onResized()"
  (click)="scripts.actionMenu('logo')"
>
  <img
    *ngIf="scripts.logoTheme === 'dark'"
    alt="Fisio Pole"
    src="./assets/img/logo/logo.svg"
  />
  <img
    *ngIf="scripts.logoTheme === 'light'"
    alt="Fisio Pole"
    src="./assets/img/logo/logo-negative.svg"
  />
</div>
<!-- end #logo -->

<div
  id="icon-menu"
  [class]="scripts.iconMenuTheme"
  fxLayout.xs="row"
  fxLayoutAlign.xs="center center"
  fxLayoutAlign.sm="center center"
  fxHide.md
  fxHide.lg
  fxHide.xl
  (click)="scripts.actionMenu('')"
>
  <i class="fas fa-bars"></i>
</div>
<!-- end #icon-menu -->

<div id="menu-shadow-2" fxHide.md fxHide.lg fxHide.xl></div>
<div id="menu-shadow-1" fxHide.md fxHide.lg fxHide.xl></div>

<div
  id="menu"
  [class]="scripts.menuTheme"
  [fxLayout.xs]="menuFxLayoutXS"
  [fxLayoutAlign.xs]="menuFxLayoutAlignXS"
  fxLayoutGap.xs="15px"
  [fxLayout.sm]="menuFxLayoutSM"
  [fxLayoutAlign.sm]="menuFxLayoutAlignSM"
>
  <div
    id="menu-logo"
    (click)="scripts.actionMenu('')"
    fxHide.md
    fxHide.lg
    fxHide.xl
  >
    <img alt="Fisio Pole" src="./assets/img/logo/logo-negative.svg" />
  </div>
  <div>
    <ul>
      <li
        id="menu-item-estudio"
        class="menu-item"
        (click)="scripts.actionMenu('estudio')"
      >
        O Estúdio
      </li>
      <li
        id="menu-item-modalidades"
        class="menu-item"
        (click)="scripts.actionMenu('modalidades')"
      >
        Modalidades
      </li>
      <li
        id="menu-item-equipe"
        class="menu-item"
        (click)="scripts.actionMenu('equipe')"
      >
        Equipe
      </li>
      <li
        id="menu-item-eventos"
        class="menu-item"
        (click)="scripts.actionMenu('eventos')"
      >
        Eventos
      </li>
      <li
        id="menu-item-contato"
        class="menu-item"
        (click)="scripts.actionMenu('contato')"
      >
        Contato
      </li>
    </ul>
  </div>
</div>
<!-- end #menu -->

<div
  id="social"
  [class]="scripts.socialTheme"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="5px"
  [fxLayout.xs]="socialFxLayoutXS"
  [fxLayoutAlign.xs]="socialFxLayoutAlignXS"
  fxLayoutGap.xs="10px"
  [fxLayout.sm]="socialFxLayoutSM"
  [fxLayoutAlign.sm]="socialFxLayoutAlignSM"
  fxLayoutGap.sm="15px"
>
  <div fxFlexOrder="1">
    <a
      class="hint--left"
      aria-label="Instagram"
      href="https://www.instagram.com/fisio_pole"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <div fxFlexOrder="2">
    <a
      class="hint--left"
      aria-label="Facebook"
      href="https://pt-br.facebook.com/fisiopoleart/"
      target="_blank"
    >
      <i class="fab fa-facebook"></i>
    </a>
  </div>
  <div fxFlexOrder="3">
    <a
      class="hint--left"
      aria-label="Whatsapp"
      href="https://api.whatsapp.com/send?1=pt_BR&phone=5513997416202"
      target="_blank"
    >
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</div>
<!-- end #social -->

<div
  id="made-by"
  [class]="scripts.madebyTheme"
  fxLayout.xs="row"
  fxLayoutAlign.xs="center center"
  fxFill.xs
  fxLayout.sm="row"
  fxLayoutAlign.sm="center center"
  fxFill.sm
>
  <div>
    <a
      class="hint--left"
      aria-label="Desenvolvido por Philipi Bovo - philipi.bovo.me"
      href="https://philipi.bovo.me"
      target="_blank"
    >
      <img
        *ngIf="scripts.madebyTheme === 'dark'"
        alt="Philipi Bovo"
        src="./assets/img/logo/philipi-bovo.png"
      />
      <img
        *ngIf="scripts.madebyTheme === 'light'"
        alt="Philipi Bovo"
        src="./assets/img/logo/philipi-bovo-negative.png"
      />
    </a>
  </div>
  <div fxHide.md fxHide.lg fxHide.xl>
    <a href="https://philipi.bovo.me" target="_blank">
      &nbsp;- Desenvolvido por Philipi Bovo
    </a>
  </div>
</div>
<!-- end #made-by -->

<div
  id="transition-page"
  [class]="scripts.transitionPageTheme"
  [class.show]="scripts.transitionPage"
></div>
