<div
  id="logo"
  [class]="global.logoTheme"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  (click)="scripts.actionMenu('')"
  (window:resize)="onResizedTemplate()"
>
  <img
    *ngIf="global.logoTheme === 'dark'"
    alt="Fisio Pole Logo"
    src="./assets/img/logo/logo.svg"
  />
  <img
    *ngIf="global.logoTheme === 'light'"
    alt="Fisio Pole Logo"
    src="./assets/img/logo/logo-negative.svg"
  />
</div>
<!-- end #logo -->

<div
  id="icon-menu"
  alt="Menu"
  [class]="global.iconMenuTheme"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout.xs="row"
  fxLayoutAlign.xs="center center"
  fxLayoutAlign.sm="center center"
  fxHide.md
  fxHide.lg
  fxHide.xl
  (click)="scripts.showHideMenuMobile()"
>
  <i class="fas fa-bars"></i>
</div>
<!-- end #icon-menu -->

<div id="menu-shadow-2" fxHide.md fxHide.lg fxHide.xl></div>
<div id="menu-shadow-1" fxHide.md fxHide.lg fxHide.xl></div>

<div
  id="menu"
  [class]="global.menuTheme"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  [fxLayout.xs]="menuFxLayoutXS"
  [fxLayoutAlign.xs]="menuFxLayoutAlignXS"
  fxLayoutGap.xs="15px"
  [fxLayout.sm]="menuFxLayoutSM"
  [fxLayoutAlign.sm]="menuFxLayoutAlignSM"
>
  <div
    id="menu-logo"
    (click)="scripts.actionMenu('')"
    fxHide.md
    fxHide.lg
    fxHide.xl
  >
    <img alt="Fisio Pole" src="./assets/img/logo/logo-negative.svg" />
  </div>
  <div>
    <ul>
      <li
        *ngFor="let item of global.mainMenu"
        id="menu-item-{{ item.idName }}"
        class="menu-item"
        (click)="scripts.actionMenu(item.idName)"
      >
        <div *ngIf="global.lang === 'en'" alt="Menu item">
          {{ item.label.en }}
        </div>
        <div *ngIf="global.lang === 'pt'" alt="Menu iten">
          {{ item.label.pt }}
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- end #menu -->

<div *ngIf="global.lang === 'en'" id="page-title" alt="Page title">
  {{ global.pageTitle }}
</div>
<div *ngIf="global.lang === 'pt'" id="page-title" alt="Título da página">
  {{ global.pageTitle }}
</div>

<div
  id="social"
  [class]="global.socialTheme"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="5px"
  [fxLayout.xs]="socialFxLayoutXS"
  [fxLayoutAlign.xs]="socialFxLayoutAlignXS"
  fxLayoutGap.xs="10px"
  fxLayout.sm="row"
  fxLayoutAlign.sm="start start"
  fxLayoutGap.sm="25px"
>
  <div fxFlexOrder="1">
    <a
      class="hint--left"
      aria-label="Instagram"
      alt="Instagram"
      href="https://www.instagram.com/fisio_pole"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <div fxFlexOrder="2">
    <a
      class="hint--left"
      aria-label="Facebook"
      alt="Facebook"
      href="https://pt.facebook.com/fisiopoleart/"
      target="_blank"
    >
      <i class="fab fa-facebook"></i>
    </a>
  </div>
  <div fxFlexOrder="3">
    <a
      class="hint--left"
      aria-label="Whatsapp"
      alt="Whatsapp"
      href="https://api.whatsapp.com/send?1=pt_BR&phone=5513997416202"
      target="_blank"
    >
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</div>
<!-- end #social -->

<div id="language-choose">
  <div
    *ngIf="global.lang === 'en'"
    class="hint--right"
    aria-label="Mudar idioma para Português"
    (click)="scripts.setLanguage('pt', true)"
  >
    <img
      src="./assets/img/icon/br-flag.png"
      alt="Mudar idioma para Português"
    />
  </div>

  <div
    *ngIf="global.lang === 'pt'"
    class="hint--right"
    aria-label="Change language to English"
    (click)="scripts.setLanguage('en', true)"
  >
    <img src="./assets/img/icon/us-flag.png" alt="Change language to English" />
  </div>
</div>
<!-- end #language-choose -->

<div
  id="made-by"
  [class]="global.madebyTheme"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout.xs="row"
  fxLayoutAlign.xs="center center"
  fxFill.xs
  fxLayout.sm="row"
  fxLayoutAlign.sm="center center"
  fxFill.sm
>
  <div *ngIf="global.lang === 'en'">
    <a
      class="hint--left"
      aria-label="Developed by Philipi Bovo - philipi.bovo.me"
      alt="Developed by Philipi Bovo - philipi.bovo.me"
      href="https://philipi.bovo.me"
      target="_blank"
    >
      <img
        *ngIf="global.madebyTheme === 'dark'"
        src="./assets/img/logo/philipi-bovo.png"
      />
      <img
        *ngIf="global.madebyTheme === 'light'"
        src="./assets/img/logo/philipi-bovo-negative.png"
      />
    </a>
  </div>
  <div *ngIf="global.lang === 'pt'">
    <a
      class="hint--left"
      aria-label="Desenvolvido por Philipi Bovo - philipi.bovo.me"
      alt="Desenvolvido por Philipi Bovo - philipi.bovo.me"
      href="https://philipi.bovo.me"
      target="_blank"
    >
      <img
        *ngIf="global.madebyTheme === 'dark'"
        src="./assets/img/logo/philipi-bovo.png"
      />
      <img
        *ngIf="global.madebyTheme === 'light'"
        src="./assets/img/logo/philipi-bovo-negative.png"
      />
    </a>
  </div>

  <div *ngIf="global.lang === 'en'" fxHide.md fxHide.lg fxHide.xl>
    <a href="https://philipi.bovo.me" target="_blank">
      &nbsp;- Developed by Philipi Bovo
    </a>
  </div>
  <div *ngIf="global.lang === 'pt'" fxHide.md fxHide.lg fxHide.xl>
    <a href="https://philipi.bovo.me" target="_blank">
      &nbsp;- Desenvolvido por Philipi Bovo
    </a>
  </div>
</div>
<!-- end #made-by -->
