<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start start"
  (window:resize)="onResizedPoleDance()"
>
  <div
    fxFlexOrder="1"
    fxFlexOffset="300px"
    fxFlex
    fxFlexOffset.xs="0"
    fxFlexOffset.sm="0"
    fxLayout="column"
    fxLayoutAlign="start start"
    [fxLayoutAlign.xs]="contentFxLayoutAlignXS"
    [fxLayoutAlign.sm]="contentFxLayoutAlignSM"
  >
    <div
      fxFlexOrder="1"
      class="options"
      fxLayout="row"
      [fxLayoutAlign.xs]="optionsFxLayoutAlignXS"
      fxLayoutAlign.sm="end start"
    >
      <div
        fxFlexOrder="1"
        class="opt-item"
        id="opt-voltar"
        (click)="scripts.redirectAnimatePageOut('modalities')"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-long-arrow-alt-left"></i> Back
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-long-arrow-alt-left"></i> Voltar
        </div>
      </div>
      <div
        fxFlexOrder="2"
        id="opt-photos"
        class="opt-item navona-go"
        data-navona-target="gallery"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-images"></i> Photos
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-images"></i> Fotos
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.1" .options -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="2" class="text">
      We work with physical conditioning, turns, locks, figures, transitions and
      combinations of static and rotating bars according to the level of each
      student. Activities are carried out using the pole dance bar and we work
      on pole dance and dance, with a focus on preference of the student, but
      always looking for the evolution of Pole Dance in general. Here, the
      strength of the whole body develops a lot, as well as resistance, body
      awareness, balance and flexibility. For all levels, no experience is
      needed. You don't need to have strength or flexibility to start, this is
      achieved during classes and the evolution is fast! Come fall in love with
      this modality you too, it does wonders for the body, the soul and the
      heart.
    </div>
    <!-- end fxFlexOrder="1.2" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="2" class="text">
      Trabalhamos condicionamento físico, giros, travas, figuras, transições e
      combos em barra estática e giratória de acordo com o nível de cada aluno.
      As atividades são realizadas utilizando a barra de pole dance e
      trabalhamos tanto o pole sport quanto a parte dança, focando na
      preferência do aluno, mas procurando sempre a evolução no Pole Dance em
      geral. Aqui, se desenvolve muito a força do corpo inteiro, bem como
      resistência, consciência corporal, equilíbrio e flexibilidade. Para todos
      os níveis, nenhuma experiência é exigida. Você não precisa ter força ou
      flexibilidade para começar, isso se ganha durante as aulas e a evolução é
      rápida! Venha se apaixonar por essa modalidade você também, ela faz
      maravilhas para o corpo, a alma e o coração.
    </div>
    <!-- end fxFlexOrder="1.2" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="3" class="text">
      Activities are carried out using the pole dance bar and we work on pole
      dance and dance, with a focus on preference of the student, but always
      looking for the evolution of Pole Dance in general. Here, the strength of
      the whole body develops a lot, as well as resistance, body awareness,
      balance and flexibility. For all levels, no experience is needed. You
      don't need to have strength or flexibility to start, this is achieved
      during classes and the evolution is fast! Come fall in love with this
      modality you too, it does wonders for the body, the soul and the heart.
    </div>
    <!-- end fxFlexOrder="1.3" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="3" class="text">
      As atividades são realizadas utilizando a barra de pole dance e
      trabalhamos tanto o pole sport quanto a parte dança, focando na
      preferência do aluno, mas procurando sempre a evolução no Pole Dance em
      geral. Aqui, se desenvolve muito a força do corpo inteiro, bem como
      resistência, consciência corporal, equilíbrio e flexibilidade. Para todos
      os níveis, nenhuma experiência é exigida. Você não precisa ter força ou
      flexibilidade para começar, isso se ganha durante as aulas e a evolução é
      rápida! Venha se apaixonar por essa modalidade você também, ela faz
      maravilhas para o corpo, a alma e o coração.
    </div>
    <!-- end fxFlexOrder="1.3" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="4" class="text">
      Here, the strength of the whole body develops, as well as resistance, body
      awareness, balance and flexibility.
    </div>
    <!-- end fxFlexOrder="1.4" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="4" class="text">
      Aqui, se desenvolve muito a força do corpo inteiro, bem como resistência,
      consciência corporal, equilíbrio e flexibilidade.
    </div>
    <!-- end fxFlexOrder="1.4" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="5" class="text">
      For all levels, no experience is required. You don't need to have strength
      or flexibility to start, this is achieved during classes and evolution is
      fast! Come fall in love with this modality you too, she works wonders for
      the body, the soul and the heart.
    </div>
    <!-- end fxFlexOrder="1.5" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="5" class="text">
      Para todos os níveis, nenhuma experiência é exigida. Você não precisa ter
      força ou flexibilidade para começar, isso se ganha durante as aulas e a
      evolução é rápida! Venha se apaixonar por essa modalidade você também, ela
      faz maravilhas para o corpo, a alma e o coração.
    </div>
    <!-- end fxFlexOrder="1.5" .text pt-br -->
  </div>
</div>

<div id="gallery" class="navona" data-navona-portrait="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49984902068_9ea1093df6_z.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985422641_66ce487630_c.jpg"
    />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49984902678_47da552d0a.jpg" />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49984901948_9ab5694d19_z.jpg"
    />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985422356_7c02b102a9.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49984902343_604cfeeff1.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985422096_0821ac26ce.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985678792_2149b081b2.jpg" />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985421846_320a49c613.jpg" />
  </div>
</div>
