<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutAlign.xs="start start"
  fxLayoutAlign.sm="start start"
  (window:resize)="onResizedStudio()"
>
  <div
    fxFlexOrder="1"
    id="text"
    fxFlex.xs="100%"
    fxFlex.md="40%"
    fxFlex.lg="40%"
    fxFlex.xl="40%"
    fxFlexOffset.xs="0"
    fxFlexOffset.md="300px"
    fxFlexOffset.lg="300px"
    fxFlexOffset.xl="300px"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutAlign.xs="start center"
  >
    <div *ngIf="global.lang === 'en'" fxFlexOrder="1">
      FisioPole Studio is a company created in 2013 by the sisters Mayra and
      Márcia Martins and is focused on the development of our students in the
      activity chosen, with the concern that the student feels at ease, evolves
      and Enjoy your time with us. We stayed at Av. Ana Costa, 521 - bedrooms 1
      and 2, right in the heart of Gonzaga, in Santos, close to Independence
      Square. There are two rooms with air conditioning and equipped in the best
      possible way for Know the modalities we offer. We have pole dance bars
      with 4 meters high, all with the option of making it static or rotating
      and we have all the necessary equipment to practice Pilates appliances,
      soil and air, as well as accessories such as blocks, weights, grip,
    </div>
    <!-- end fxFlexOrder="1.2" en -->

    <div *ngIf="global.lang === 'pt'" fxFlexOrder="1">
      O FisioPole Studio é uma empresa criada em 2013 pelas irmãs Mayra e Márcia
      Martins e é focado no desenvolvimento dos nossos alunos na atividade
      escolhida, com a preocupação de que o aluno se sinta confortável, evolua e
      desfrute do seu tempo conosco. Ficamos na Av. Ana Costa, 521 - salas 1 e
      2, bem no coração do Gonzaga em Santos, próximo a praça da independência.
      São duas salas climatizadas e equipadas da melhor forma possível para
      atender as modalidades que oferecemos. Temos barras de Pole Dance com 4
      metros de altura, todas com opção de deixar como estática ou giratória e
      temos todos os equipamentos necessários para a prática de Pilates de
      aparelhos, solo e aereo, além de acessórios como bloquinhos, pesos, grip,
      etc.
    </div>
    <!-- end fxFlexOrder="1.2" pt -->
  </div>
  <!-- end fxFlexOrder="1" -->
</div>
