<div
  id="content"
  class="content"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutAlign.xs="start start"
  fxLayoutAlign.sm="start start"
  (window:resize)="onResizedStudio()"
>
  <div
    id="text"
    [class.show]="displayStart"
    fxFlex.xs="100%"
    fxFlex.md="40%"
    fxFlex.lg="40%"
    fxFlex.xl="40%"
    fxFlexOffset.xs="0"
    [fxFlexOffset.sm]="textFxFlexOffsetSM"
    fxFlexOffset.md="300px"
    fxFlexOffset.lg="300px"
    fxFlexOffset.xl="300px"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutAlign.xs="start center"
  >
    <div>
      O FisioPole Studio é uma empresa criada em 2013 pelas irmãs Mayra e Márcia
      Martins e é focado no desenvolvimento dos nossos alunos na atividade
      escolhida, com a preocupação de que o aluno se sinta confortável, evolua e
      desfrute do seu tempo conosco. Ficamos na Av. Ana Costa, 521 - salas 1 e
      2, bem no coração do Gonzaga em Santos, próximo a praça da independência.
      São duas salas climatizadas e equipadas da melhor forma possível para
      atender as modalidades que oferecemos. Temos barras de Pole Dance com 4
      metros de altura, todas com opção de deixar como estática ou giratória e
      temos todos os equipamentos necessários para a prática de Pilates de
      aparelhos, solo e aereo, além de acessórios como bloquinhos, pesos, grip,
      etc.
    </div>
  </div>
</div>
