<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start start"
  (window:resize)="onResizedPilates()"
>
  <div
    fxFlexOrder="1"
    fxFlexOffset="300px"
    fxFlex
    fxFlexOffset.xs="0"
    fxFlexOffset.sm="0"
    fxLayout="column"
    fxLayoutAlign="start start"
    [fxLayoutAlign.xs]="contentFxLayoutAlignXS"
    [fxLayoutAlign.sm]="contentFxLayoutAlignSM"
  >
    <div
      fxFlexOrder="1"
      class="options"
      fxLayout="row"
      [fxLayoutAlign.xs]="optionsFxLayoutAlignXS"
      fxLayoutAlign.sm="end start"
    >
      <div
        fxFlexOrder="1"
        class="opt-item"
        id="opt-voltar"
        (click)="scripts.redirectAnimatePageOut('modalities')"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-long-arrow-alt-left"></i> Back
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-long-arrow-alt-left"></i> Voltar
        </div>
      </div>
      <div
        fxFlexOrder="2"
        id="opt-photos"
        class="opt-item navona-go"
        data-navona-target="gallery"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-images"></i> Photos
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-images"></i> Fotos
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.1" .options -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="2" class="text">
      "Develops a uniform body, corrects postures, restores vitality physical,
      invigorates the mind and uplifts the spirit "- There is no better
      description of this modality that we love so much and that improves
      strength, balance, flexibility, body awareness and still soothes the soul.
      In our pilates, we work with a mix of pilates, aerial (with the columpyo)
      and soil to better serve the student. We seek to maintain a class that is
      interesting and helps the student in his goal, making him a pleasant
      moment of body care. Calms the soul and is the best meeting of life, which
      is yours.
    </div>
    <!-- end fxFlexOrder="1.2" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="2" class="text">
      "Desenvolve um corpo uniforme, corrige posturas, restaura a vitalidade
      física, vigora a mente e eleva o espírito" - Não tem descrição melhor
      dessa modalidade que tanto amamos e que melhora força, equilíbrio,
      flexibilidade, consciência corporal e ainda acalma a alma. No nosso
      pilates, trabalhamos com uma mistura de pilates de aparelhos, aéreo (com o
      columpyo) e de solo para melhor atender o aluno. Procuramos manter uma
      aula que seja interessante e ajude o aluno no seu objetivo, tornando um
      momento prazeroso de cuidado com o corpo. Acalma a alma e é o melhor
      encontro da vida, que é o com você mesmo.
    </div>
    <!-- end fxFlexOrder="1.2" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="3" class="text">
      In our Pilates, we work with a mix of Pilates devices, aerial (with
      columpyo) and land to better serve the student. We search maintain a class
      that is interesting and helps the student in his goal, making it a
      pleasant time for body care. Calms the soul and is the best meeting of
      life, which is with yourself.
    </div>
    <!-- end fxFlexOrder="1.3" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="3" class="text">
      No nosso pilates, trabalhamos com uma mistura de pilates de aparelhos,
      aéreo (com o columpyo) e de solo para melhor atender o aluno. Procuramos
      manter uma aula que seja interessante e ajude o aluno no seu objetivo,
      tornando um momento prazeroso de cuidado com o corpo. Acalma a alma e é o
      melhor encontro da vida, que é o com você mesmo.
    </div>
    <!-- end fxFlexOrder="1.3" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="4" class="text">
      We try to maintain a class that is interesting and helps the student in
      his goal, making it a pleasant moment of body care. Calms the soul and is
      the best meeting of life, which is yours.
    </div>
    <!-- end fxFlexOrder="1.4" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="4" class="text">
      Procuramos manter uma aula que seja interessante e ajude o aluno no seu
      objetivo, tornando um momento prazeroso de cuidado com o corpo. Acalma a
      alma e é o melhor encontro da vida, que é o com você mesmo.
    </div>
    <!-- end fxFlexOrder="1.4" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="5" class="text">
      Calms the soul and is the best meeting of life, which is yours.
    </div>
    <!-- end fxFlexOrder="1.5" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="5" class="text">
      Acalma a alma e é o melhor encontro da vida, que é o com você mesmo.
    </div>
    <!-- end fxFlexOrder="1.5" .text pt-br -->
  </div>
</div>

<div id="gallery" class="navona" data-navona-portrait="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985571822_06095eb6ec_c.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985336136_9066db35f9_z.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985594292_eb6594bda8_z.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985593597_afbe5c06d4_b.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985593622_db4be34b62_c.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985572072_8f7160835b_b.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985315181_593b9bf042_c.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985315366_071fa9f127_c.jpg"
    />
  </div>
</div>
