.content > div:first-child {
  margin-top: 130px;
  padding-right: 65px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 352px;
  width: 100%;
  border: 1px solid #22002b;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 352px;
  width: 100%;
}

.social-icon {
  font-size: 2em;
}
