::-webkit-scrollbar {
  width: 0px;
  border-left: 0px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #590072;
}

.content {
  /*background: #fcf1ff;*/
  background-image: linear-gradient(
    145deg,
    #fcf1ff 25%,
    #fbeefd 25%,
    #fbeefd 50%,
    #fcf1ff 50%,
    #fcf1ff 75%,
    #fbeefd 75%,
    #fbeefd 100%
  );
  background-size: 69.74px 48.83px;
  color: #22002b;
  height: 100%;
}

.content > div {
  overflow: auto;
}

.content.portrait > div {
  margin-top: 120px;
  padding: 10px 10px 80px 10px;
  height: calc(100% - 100px);
}

.content.landscape > div {
  margin-top: 90px;
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
}

.social-icon {
  font-size: 2em;
}
