<div
  id="content"
  class="content"
  [class]="global.contentDisplay"
  [class.portrait]="global.isPortrait"
  [class.landscape]="global.isLandscape"
  fxLayout="row"
  fxLayoutAlign="start start"
  (window:resize)="onResizedCircus()"
>
  <div
    fxFlexOrder="1"
    fxFlexOffset="300px"
    fxFlex
    fxFlexOffset.xs="0"
    fxFlexOffset.sm="0"
    fxLayout="column"
    fxLayoutAlign="start start"
    [fxLayoutAlign.xs]="contentFxLayoutAlignXS"
    [fxLayoutAlign.sm]="contentFxLayoutAlignSM"
  >
    <div
      fxFlexOrder="1"
      class="options"
      fxLayout="row"
      [fxLayoutAlign.xs]="optionsFxLayoutAlignXS"
      fxLayoutAlign.sm="end start"
    >
      <div
        fxFlexOrder="1"
        class="opt-item"
        id="opt-voltar"
        (click)="scripts.redirectAnimatePageOut('modalities')"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-long-arrow-alt-left"></i> Back
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-long-arrow-alt-left"></i> Voltar
        </div>
      </div>
      <div
        fxFlexOrder="2"
        id="opt-photos"
        class="opt-item navona-go"
        data-navona-target="gallery"
      >
        <div *ngIf="global.lang === 'en-us'">
          <i class="fas fa-images"></i> Photos
        </div>
        <div *ngIf="global.lang === 'pt-br'">
          <i class="fas fa-images"></i> Fotos
        </div>
      </div>
    </div>
    <!-- end fxFlexOrder="1.1" .options -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="2" class="text">
      In this class, you will learn techniques for warming up, strengthening and
      specific stretching for carrying out various activities related to the
      circus, like acrobatics in fabric, in lyra and on the floor.
    </div>
    <!-- end fxFlexOrder="1.2" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="2" class="text">
      Nesta aula, você aprenderá técnicas de aquecimento, fortalecimento e
      alongamento específicas para a realização de diversas atividades
      relacionadas ao circo, como acrobacias em tecido, em lyra e no chão.
    </div>
    <!-- end fxFlexOrder="1.2" .text pt-br -->

    <div *ngIf="global.lang === 'en-us'" fxFlexOrder="3" class="text">
      Activity open to all levels and ages.
    </div>
    <!-- end fxFlexOrder="1.3" .text en-us -->

    <div *ngIf="global.lang === 'pt-br'" fxFlexOrder="3" class="text">
      Atividade aberta para todos os níveis e idades.
    </div>
    <!-- end fxFlexOrder="1.3" .text pt-br -->
  </div>
</div>

<div id="gallery" class="navona" data-navona-portrait="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49984761433_c9091f7bf0_c.jpg"
    />
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49985537792_e5a4d01a44_b.jpg"
    />
  </div>
  <div>
    <img src="https://live.staticflickr.com/65535/49985537787_d12bd67090.jpg" />
  </div>
</div>
